:root {
	--black: #000;
	--white: #fff;
	--brown: #CB9B5B;
}

* {
	margin: 0;
  padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Signika', sans-serif;
	color: var(--white);
	background-image: url(/images/background.webp);
	background-size: cover;
	height: 100%;
}

h1,
h2,
p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4.375rem;
	text-align: center;
	line-height: 1.1;
}

h2 {
	font-size: 2rem;
	text-align: center;
	color: var(--black);
}

p {
	font-size: 1.25rem;
	line-height: 1.6;
	margin-bottom: 1rem;
}

main {
	display: flex;
	flex-direction: column;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

/* LAPTOP */
@media (min-width: 70em) {
	main {
		flex-direction: row;
		flex-wrap: wrap;
	}
}